.description-list-editor {
  .description-list-editor-controls {
    display: flex;
    gap: 1em;
  }

  dd,
  dt {
    border: 1px dashed #ccc;
    padding: 0.1em;
    padding-left: 0.1em;
    margin: 2px;
    position: relative;
    .delete-btn {
      display: none;
      position: absolute;
      right: 0px;
      padding: 0px;
      height: 25px;
      top: 0px;
    }
  }
  dd:hover,
  dt:hover {
    .delete-btn {
      display: block;
    }
  }
}
