.formula-editor {
  min-width: 600px;
  .split-editor {
    display: flex;
    flex-direction: column;
    width: 100%;

    .preview {
      min-height: 30vh;
    }
    .editor {
      .toolbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        text-align: left;
        gap: 3px;
        padding: 5px;
        background-color: $gray-100;

        .language {
          padding: 2px 10px;
        }
        .language-active {
          border: 1px solid $blue;
        }
      }
      text-align: left;
      min-height: 30vh;
    }
  }
}
